<p class="preview-title">Unsere Cocktails</p>

<div class="item-container">
    @foreach (var item in mItems)
    {
        <Card ClickAction="@(() => _HandleClicked(item))"
              Image="@(Urls.GetLowResDrinkImage(item.Image))"
              SubTitle="@item.Teaser"
              Title="@item.Name">
        </Card>
    }
</div>

<a class="btn btn-dark"
   href="@Urls.Cocktails"
   style="margin: 20px 0 40px 0">
    Alle Cocktails
</a>
