<p class="preview-title">Unsere Gins</p>

<div class="item-container">
    @foreach (var item in mItems) {
        <Card ClickAction="@(() => _HandleClicked(item))"
              Image="@(Urls.GetLowResGinImage(item.Image))"
              SubTitle="@item.Teaser"
              Title="@item.Name">
        </Card>
    }
</div>

<a class="btn btn-dark"
   href="@Urls.Gins"
   style="margin: 20px 0 40px 0">
    Alle Gins
</a>
