<p class="preview-title">Unsere Rums</p>

<div class="item-container">
    @foreach (var item in mItems ?? Array.Empty<Rum>())
    {
        <Card ClickAction="@(() => _HandleClicked(item))"
              Image="@(Urls.GetLowResRumImage(item.Image))"
              SubTitle="@item.Teaser"
              Title="@item.Name">
        </Card>
    }
</div>

<a class="btn btn-dark preview-button"
   href="@Urls.Rums">
    Alle Rums
</a>
